# config, cache
__pycache__
.vscode
.DS_Store

# env
EQTransformer
venv-3.7*

# data
downloads_*
test*
training
training_bandpass
training_onlyrot
training_old
rawdata
resp.dir
*.pkl
*.h5
*.hdf5
AlphaPK_*/
hmsl_*/
*_pred/
*_pred_*/
*_hdfs/
*_preproc/
*backups
*_old
rawdata_catalog*
resp_catalog
training_catalog*
2010-07-26T23:31:07.200Z/
2010-01-01T02:22:27.100Z.LH.obspy
globo*.xml
gcmt_data

# table
training*.csv
sta2net*.json
data.json
json
updeANMO*.csv
*bug.csv
catalog*.csv

# testing
Untitled*.ipynb
qc_rayavg*.png

# log
message.log
*.log
nohup.out
